@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'),
        url('fonts/pt-sans-v11-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('fonts/pt-sans-v11-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
}

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: local('PT Sans Bold'), local('PTSans-Bold'),
        url('fonts/pt-sans-v11-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
        url('fonts/pt-sans-v11-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
}



/* Global */

:root {
    --basic-black: #000000;
    --basic-white: #FFFFFF;
    --basic-extra-light: #F2F2F2;
    --basic-light: #EEEEEE;
    --basic-gray: #888888;
    --basic-dimgray: #666666;
    --basic-dark-gray: #333333;
    --basic-blue: #81B3D2;
    --basic-brown: #766357;

    --neutral-light-blue: #669EC0;
    --neutral-dark-blue: #5496BD;
    --neutral-light-brown: #604E43;
    --neutral-dark-brown: #503E33;
}

body {
    min-width: 1200px; 
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    color: var(--basic-black);
    background-color: var(--basic-extra-light);
    text-transform: uppercase;
}

a { 
    text-decoration: none; 
}

img { 
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px; 
    height: 1px;
    margin: 1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    font: inherit;
    text-align: center;
    color: var(--basic-white);
    vertical-align: middle;
    text-transform: uppercase;
    background-color: var(--basic-blue);
    border: none;
}



/* Header */

.header {
    background-color: var(--basic-white);
}

.nav-menu {
    list-style: none;
    padding: 0;
}

.nav-menu a {
    color: var(--basic-black);
    font-weight: bold;
    text-align: center;
}

.nav-menu a:hover,
.nav-menu a:focus {
    color: var(--basic-blue);
}

.nav-menu a:active {
    color: var(--basic-black);
}

.nav-menu a.active-link {
    color: var(--basic-brown);
}



/* Main */
/* Welcome */

.welcome {
    text-align: center;
    background: url('../img/sedona-background.jpg') no-repeat center;
}



/* About */

.about {
    text-align: center;
    background-color: var(--basic-white);
}

.about-slogan {
    font-size: 21px;
    font-weight: bold;
}

.about-text {
    margin-top: 42px;
    color: var(--basic-dark-gray);
}



/* Advantages */

.advantages-content {
    list-style: none;
}

.content-list {
    text-align: center;
}

.content-list .list-box {
    line-height: 21px;
    color: var(--basic-white);
    background-color: var(--basic-blue);
}

.content-list h3 {
    font-size: 21px;
    line-height: 21px;
}

.content-list:not(.content-list--blue) {
    background-color: var(--basic-light);
}

.content-list:not(.content-list--blue) .content-list-desc {
    line-height: 21px;
    color: var(--basic-dark-gray);
}

.content-sublist {
    list-style: none;
}

.sublist-elem p{
    line-height: 21px;
    color: var(--basic-dark-gray);
}



/* Search */
.search {
    text-align: center;
    background-color: var(--basic-white);
}

.search-caption {
    font-size: 30px;
    font-weight: bold;
    line-height: 24px;
}

.search-text {
    color: var(--basic-dark-gray);
}

.search-button {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: var(--basic-white);
    background-color: var(--basic-brown);
}

.search-button:hover,
.search-button:focus {
    background-color: var(--neutral-light-brown);
}

.search-button:active {
    background-color: var(--neutral-dark-brown);
}



/* Search form */
.search-form {
    display: none;
}



/* Footer */

/* Collback */

.callback p,
.callback a {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: var(--basic-black);
}



/* Socials */

.socials {
    text-align: center;
}

.socials ul {
    list-style: none;
}



/* Developed */

.developed {
    text-align: center;
}