@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'),
        url('fonts/pt-sans-v11-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('fonts/pt-sans-v11-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
}

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: local('PT Sans Bold'), local('PTSans-Bold'),
        url('fonts/pt-sans-v11-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
        url('fonts/pt-sans-v11-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
}



/* Global */

:root {
    --basic-black: #000000;
    --basic-white: #FFFFFF;
    --basic-extra-light: #F2F2F2;
    --basic-light: #EEEEEE;
    --basic-gray: #888888;
    --basic-dimgray: #666666;
    --basic-dark-gray: #333333;
    --basic-blue: #81B3D2;
    --basic-brown: #766357;

    --neutral-light-blue: #669EC0;
    --neutral-dark-blue: #5496BD;
    --neutral-light-brown: #604E43;
    --neutral-dark-brown: #503E33;
    --neutral-light: #E5E5E5;


    --neutral-bg: #6B8EB4;
}

*, *::before, *::after {
    box-sizing: inherit;
}


html {
    height: 100%;
    box-sizing: border-box;
    background-color: var(--basic-extra-light);
}

body {
    height: 100%; 
    padding: 0 10px;
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    color: var(--basic-black);
    background-color: var(--basic-extra-light);
}

a { 
    text-decoration: none; 
}

img { 
    max-width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}

.page {
    width: 1200px;
    min-height: 100%; 
    margin: 0 auto;
    box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

.visually-hidden {
    position: absolute;
    width: 1px; 
    height: 1px;
    margin: 1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    font: inherit;
    text-align: center;
    color: var(--basic-white);
    vertical-align: middle;
    text-transform: uppercase;
    background-color: var(--basic-blue);
    border: none;
}

.container {
    position: relative;
    background-color: var(--basic-white);
}
  



/* Header */

.header-nav {
    position: relative;
    z-index: 1;
}

.nav-menu {
    display: flex;
    align-items: center;
    padding: 15px 0;
    margin: 0;
    list-style: none;
}
.nav-menu li {
    flex-basis: 25%;
}

.nav-menu li:first-child, 
.nav-menu li:nth-child(2) {
    text-align: left;
}
 
.nav-menu li:nth-child(n+3) {
    text-align: right;
}

.nav-menu li:first-child {
    padding-left: 72px;
}
.nav-menu li:last-child {
    padding-right: 72px;
}

.nav-menu a {
    color: var(--basic-black);
    font-weight: 700;
    text-align: center;
}

.nav-menu a:hover,
.nav-menu a:focus {
    color: var(--basic-blue);
    outline: none;
}

.nav-menu a:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.nav-menu a.active-link {
    color: var(--basic-brown);
}

.header-logo {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -69px;
}



/* Main */
/* Welcome */

.welcome {
    position: relative;
    display: flex;
    min-height: 509px;
    background-color: var(--neutral-bg);
    background: url('../img/sedona-background.jpg') no-repeat center;
}

.welcome::after {
    position: absolute;
    bottom: 0;
    line-height: 0;
    content: url('../img/background-shape.png');
}

.welcome img {
    margin: auto;
}





/* About */

.about {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--basic-white);
}

.about-slogan {
    width: 470px;
    margin: 0 auto;
    margin-top: 42px;
    font-size: 21px;
    font-weight: 700;
}

.about-text {
    margin-top: 45px;
    margin-bottom: 51px;
    color: var(--basic-dark-gray);
}



/* Advantages */

.advantages-content {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.content-list {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.content-list .list-box {
    display: flex;
    flex-direction: column;
    width: 400px;
    min-height: 256px;
    padding: 0 49px;
    line-height: 21px;
    color: var(--basic-white);
    background-color: var(--basic-blue);
}

.content-list h3 {
    padding: 0 50px;
    margin-top: 47px;
    margin-bottom: 25px;
    font-size: 21px;
    line-height: 21px;
}

.list-num {
    margin: 0;
}

.content-list-desc {
    margin-top: 23px;
}

.content-list--blue img {
    width: 800px;
    height: 256px;
}

.content-list:not(.content-list--blue) {
    width: calc(100% / 3);
    min-height: 256px;
    flex-direction: column;
    padding: 0 71px;
    background-color: var(--basic-light);
}

.content-list:not(.content-list--blue) .content-list-desc {
    line-height: 21px;
    color: var(--basic-dark-gray);
}

.content-sublist {
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sublist-elem {
    flex-basis: calc(100% / 3);
    padding: 0 50px;
}

.sublist-elem h3 {
    margin-top: 28px;
    margin-bottom: 25px;
}

.sublist-elem p{
    margin-bottom: 81px;
    line-height: 21px;
    color: var(--basic-dark-gray);
}



/* Search */

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--basic-white);
}

.search-caption {
    margin-top: 58px;
    margin-bottom: 0;
    font-size: 30px;
    font-weight: 700;
    line-height: 24px;
}

.search-text {
    width: 435px;
    margin-top: 35px;
    margin-bottom: 0;
    line-height: 24px;
    color: var(--basic-dark-gray);
}

.search-button {
    padding: 30px 139px;
    margin-top: 42px;
    align-self: center;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    color: var(--basic-white);
    background-color: var(--basic-brown);
}

.search-button:hover,
.search-button:focus {
    background-color: var(--neutral-light-brown);
}

.search-button:active {
    background-color: var(--neutral-dark-brown);
}



/* Search form */

.search-form {
    display: none;
}



/* Map */

.map {
    line-height: 0;
}



/* Footer */

.footer-content {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    padding-top: 23px;
    padding-left: 131px;
    padding-bottom: 36px;
    padding-right: 101px;
    background-color: rgba(255,255,255, 0.9);
}

.footer-inner {
    position: static;
}

/* Collback */

.callback {
    width: 251px;
}
.callback p,
.callback a {
    margin: 0;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    color: var(--basic-black);
}

.callback p {
    margin-bottom: 9px;
}



/* Socials */

.socials {
    justify-self: center;
    text-align: center;
}

.socials ul {
    margin: 0;
    width: 150px;
    list-style: none;
}



/* Developed */

.developed {
    width: 197px;
    margin-left: auto;
    text-align: center;
}

.developed p {
    margin: 0;
    display: flex;
    align-items: center;
}

.developed a {
    margin-left: 8px;
}



/* Inner page */

/* Filter */
.filter {
    background-color: var(--neutral-bg);
    background: url('../img/filter-background.jpg') no-repeat center;
}



/* Sort */
.sort {
    display: flex;
    align-items: center;
    padding-top: 29px;
    padding-right: 72px;
    padding-bottom: 31px;
    padding-left: 72px;
}

.found {
    margin: 0;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.sort-caption {
    margin: 0;
    margin-left: 46px;
    margin-right: 40px;
    font-size: 12px;
    line-height: 18px;
}

.sort ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sort ul:last-child {
    margin-left: auto;
}

.sort-type {
    margin-right: 32px;
}

.sort-type:last-child {
    margin-right: 0;
}

.type-button {
    padding: 0;
    font-size: 12px;
    line-height: 18px;
    color: var(--basic-black);
    background-color: transparent;
    border-bottom: dotted 1px var(--basic-blue);
    opacity: 0.3;
}

.type-button:hover,
.type-button:focus {
    color: var(--basic-blue);
    outline: none;
}

.type-button:active {
    color: var(--basic-black);
    border-bottom: none;
    opacity: 1;
}


.type-button.type-button--active {
    color: var(--basic-blue);
    border-bottom: none;
}



/* Hotels */

.hotels-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.hotels-elem {  
    display: flex;
    align-items: flex-end;
    padding: 30px 72px;
    border-top: solid 1px var(--neutral-light);
}
.hotels-elem:last-of-type {
    border-bottom: solid 1px var(--neutral-light);
}

.hotels-elem img {
    width: 135px;
    height: 90px;
}

.hotels-data{
    margin-left: 29px;
}

.hotels-elem h3 {
    margin: 0;
}

.hotels-link {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    color: var(--basic-black);
}

.hotels-link:hover,
.hotels-link:focus {
    color: var(--basic-blue);
    outline: none;
}

.hotels-link:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.hotels-about {
    display: flex;
    /* margin-top: 7px; */
}

.hotels-about div:last-child {
    margin-left: 6px;
}

.hotels-about-type,
.hotels-cost {
    margin: 0;
    line-height: 21px;
}

.hotels-about-link,
.hotels-order {
    display: inline-block;
    padding: 3px 17px 3px 16px;
    margin-top: 15px;
    font-weight: 700;
    line-height: 21px;
}

.hotels-order {
    background-color: var(--basic-brown);
}

.hotels-about-link:hover,
.hotels-about-link:focus {
    background-color: var(--neutral-light-blue);
    outline: none;
}

.hotels-about-link:active {
    background-color: var(--neutral-dark-blue);
    color: rgba(255,255,255, 0.3);
}


.hotels-order:hover,
.hotels-order:focus {
    background-color: var(--neutral-light-brown);
    outline: none;
}

.hotels-order:active {
    background-color: var(--neutral-dark-brown);
    color: rgba(255,255,255, 0.3);
}

.hotels-rating {
    margin-left: auto;
}

.hotels-rating p {
    display: inline-block;
    padding: 3px 13px 3px 16px;
    margin: 0;
    line-height: 21px;
    color: var(--basic-dimgray);
    background-color: var(--basic-extra-light);
}
